<nav class="navbar">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo" />
    </div>
    <ul class="nav-links">
      <li><a href="/src/app/pages/home/home.component.html" >Home</a></li>
      <li><a href="/src/app/pages/about/about.component.html" >About</a></li>
      <li><a href="/src/app/pages/contact/contact.component.html" >Contact</a></li>
      <li><a href="/src/app/pages/login/login.component.html" >Login</a></li>
      <li><a href="/src/app/pages/find-maid/find-maid.component.html" >Find a Maid</a></li>
      <li><a href="/src/app/pages/maid-profiles/maid-profiles.component.html" >Profiles</a></li>
      <li><a href="/src/app/pages/transaction-history" >Transactions</a></li>
    </ul>
  </nav>
  