.form-container {
    width: 60%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-top: 10px;
  }
  
  input,
  select,
  textarea {
    padding: 10px;
    margin-top: 5px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
  }
  